
.miniature {
	width: 100%;
    min-height: 200px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
	margin-bottom: 1%;
    margin-top: 20px;
    border-radius: 10px;
    background-image:url(uploads/$annonce[photo1])
}

.miniature h4 {
	color: white;
	font-size: 1.4em;
	letter-spacing: 0.3em;
	word-spacing: 0.5em;
	font-family: Verdana;
}

.miniature p {
	color: white;
	font-size: 1.5em;
	font-family: Verdana;
}

.int {
	background-color: rgba(0, 0, 0, 0.09);border-radius: 10px; border: double white 4px;
}


.miniature2 {
	width: 100%;
    max-height: 200px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 1%;
    margin-top: 1%;
    border-radius: 10px;
}

.miniature2 h4 {
	color: white;
	font-size: 1.4em;
	letter-spacing: 0.3em;
	word-spacing: 0.5em;
	font-family: Verdana;
}

.miniature2 p {
	color: white;
	font-size: .5em;
	font-family: Verdana;
}

.int2 {
	background-color: rgba(0, 0, 0, 0.09);border-radius: 10px; border: double white 4px;
}

.int3 {
	background-color: rgba(0, 0, 0, 0.09);
}

h4>span{color: greenyellow;}

h5{color: white;}