
.miniature {
	width: 100%;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: 50%;
	margin-bottom: 1%;
    margin-top: 1%;
    border-radius: 10px;
}

.miniature h3 {
	color: white;
	font-size: 2em;
	letter-spacing: 0.3em;
	word-spacing: 0.5em;
	font-family: Verdana;
}

.miniature p {
	color: white;
	font-size: 1.5em;
	font-family: Verdana;
}

.int {
	background-color: rgba(0, 0, 0, 0.09);border-radius: 10px; border: double white 4px;
}