
/***************************** RUBBAN INDEX ************************************************/

.ribbon-container {
	position: relative;
	display: inline-block;
	line-height: 1;
}
.ribbon-container img {
/*	vertical-align: middle;*/
}
.ribbon {
	position: absolute;
	bottom: 5em;
	left: -40.5em;
	margin-right: 1em;
	padding: .75em 1.25em .75em .75em;
	border-radius: 0 .5em .5em 0;
	background-color: royalblue;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%);
	background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%);
	box-shadow: inset 0 .062em 0 rgba(255,255,255,.6), 0 .125em .25em rgba(0,0,0,.2);
    border: solid white 1px;
	color: #fff;
	text-shadow: 0 .1em 0 rgba(0,0,0,10);
	white-space: nowrap;
	-webkit-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}
.ribbon:before,
.ribbon:after {
	position: absolute;
	background-color: inherit;
	content: "";
}
.ribbon:before {
	bottom: 0;
	left: -.5em;
	width: .5em;
	height: 3em;
	border-radius: 0 0 0 .5em;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 100%);
	background-image: linear-gradient(to right, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 100%);
}
.ribbon:after {
	top: -1em;
	left: -.5em;
	width: .5em;
	height: 1em;
	border-radius: .5em 0 0 .5em;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%);
	background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%);
	box-shadow: 0 .062em 0 rgba(255,255,255,.6);
}
.ribbon-container:hover .ribbon {
	background-color: darkorange;
}

/***************************** TEXTE ************************************************/

<<<<<<< HEAD
/*
=======
>>>>>>> 3a8adf172d00cf2daafdde097ecfc9f5c399c5b7

h4{color: white;text-align: left;background-color: rgba(65, 105, 225, 0.5); margin: 80px 0; border-top: white 4px double;border-bottom: white 4px double;text-shadow: 0 .09em 0 rgba(0,0,0,.9); position: relative; top: -75px; }

h4:hover{background-color: darkorange;}
<<<<<<< HEAD
*/
=======
>>>>>>> 3a8adf172d00cf2daafdde097ecfc9f5c399c5b7




/***************************** RUBBAN TOP ANNONCE ************************************************/


.ribbon-container-t {
	position: relative;
	display: inline-block;
	line-height: 1;
}
.ribbon-container-t img {
/*	vertical-align: middle;*/
}
.ribbon-t {
	position: absolute;

	bottom: 5em;
	left: -10em;

	margin-right: 1em;
	padding: .75em 1.25em .75em .75em;
	border-radius: 0 .5em .5em 0;
	background-color: royalblue;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%);
	background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%);
	box-shadow: inset 0 .062em 0 rgba(255,255,255,.6), 0 .125em .25em rgba(0,0,0,.2);
    border: solid white 1px;
	color: #fff;
	text-shadow: 0 .1em 0 rgba(0,0,0,10);
	white-space: nowrap;
	-webkit-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}
.ribbon-t:before,
.ribbon-t:after {
	position: absolute;
	background-color: inherit;
	content: "";
}
.ribbon-t:before {
	bottom: 0;
	left: -.5em;
	width: .5em;
	height: 3em;
	border-radius: 0 0 0 .5em;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 100%);
	background-image: linear-gradient(to right, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 100%);
}
.ribbon-t:after {
	top: -1em;
	left: -.5em;
	width: .5em;
	height: 1em;
	border-radius: .5em 0 0 .5em;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%);
	background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%);
	box-shadow: 0 .062em 0 rgba(255,255,255,.6);
}
.ribbon-container-t:hover .ribbon-t {
	background-color: darkorange;
}

h4.t{color: white;text-align: left;background-color: rgba(65, 105, 225, 0.5); margin: 80px 0; border-top: white 4px double;border-bottom: white 4px double;text-shadow: 0 .09em 0 rgba(0,0,0,.9); position: relative; top: -75px;}

h4.t:hover{background-color: darkorange;}


