/************************ HTML MAIN *************************/

html{text-align: center;}

.logo-site{ width: 0.1px; min-width: 100px;}


/************************ ASIDE *************************/


aside{background: white; border-radius: 10px; border: double black; margin: 15px 50px}


/************************ HEADER *************************/


header{background: black; border-bottom: double 4px white}


/****** NAV ******/

nav{min-width: 1200px}

.cent_nav { text-align:center; }
.cent_nav ul.nav { display:inline-block; }
.cent_nav li { display:inline; }
.cent_nav a { float:right; }
* html .cent-nav ul.nav { display:inline; } /* IE6 */
*+html .cent-nav ul.nav { display:inline; } /* IE7 */

.nav2{background: black; border-radius: 20px;margin-top: 10px;margin-bottom: 40px; padding-top: 10px; padding-left: 10px; border: double white 4px;}



/************************ MAIN *************************/


main{ margin: 15px 0; border-radius: 10px; border: double black;}


/************************ FOOTER *************************/

footer{background: darkorange;}

/************************ TEXTE  *************************/

/*#img_info_ann{background-image: url(../img/coin.jpg) no-repeat; z-index: 100}*/

a{color: royalblue}

h1,h2,h3,h4,h5,h6,p{color: white; text-align: center;}

label{color: black} legend{color:royalblue; background: black; border-bottom: double white 4px;}

span>fieldset{color: royalblue; font-size: 20px; padding: 40px 10px}

h3{text-align: left; color: royalblue; margin: 40px 40px}

h3>span{color: black;}

div>h2{color: red;}

li>label{float: left;color: red; padding: 5px 8px}


p>a{margin: 10px 40px; text-align: center; color: royalblue; font-size: 10px}

span>h4{color: greenyellow;}



/************************ INPUT *************************/


input{border-radius: 10px; margin: 0px 10px;}

li>input{border-radius: 10px; margin: 8px;
background: white; color: black}

p>li>input{border-radius: 10px; margin: 8px; background: white; color: white}



p>span{color: royalblue}

div>section{ border-radius: 10px; margin: 10px 0px}

section>p,h4{color: black; margin: 10px 10px;}

section>h1{color: black;}

article {color: black;margin: 20px 0px; border: double black 4px; border-radius: 10px;  min-height: 400px;}


div>form {border: 2px black;border-radius: 10px;margin: 10px 10px;}

/************************ PAGE ANNONCE *************************/

.hide-bullets {list-style:none;margin-left: -40px;margin-top:20px;}



/******* SLIDER *********/

#carousel-bounding-box{border: double 4px black;margin: center; padding: 10px 10px; border-radius: 10px;}

/*img-slid{background: cover;}*/



